[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "==0.29.*"
numpy = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
pydocstyle = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
